{% extends "item/layout.html" %}

{% block title %}
    <h3>Item Detail</h3>
    <p>상품 세부내용 페이지 입니다. 상품의 자세한 사항을 확일할 수 있습니다.</p>
{% endblock %}

{% block content %}
    <div class="image">
        <img src="{{ item.image }}">
    </div>
    <div class="detail">
        <h1>{{ item.title }}</h1>
        <ul>
            <li>가격 : {{ item.price }}</li>
            <li>남은 수량 : {{ item.amount }}</li>
            <li>제품 설명 : <br>
                <p>{{ item.content }}</p>
            </li>
        </ul>
    </div>
    <hr>
    <a href="{% url "item:delete" pk=item.pk %}">삭제</a>
    <a href="{% url "item:list" %}">목록</a>
    <a href="{% url "item:update" pk=item.pk %}">수정</a>
{% endblock %}