{% extends "item/layout.html" %}

{% block title %}
    <h3>Item Register</h3>
    <p>상품 등록 페이지 입니다. 여기서 상품을 등록할 수 있습니.</p>
{% endblock %}

{% block content %}
    <form action="{% url "item:register" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Title:
        <input type="text" name="title"><br>
        Image:
        <input type="file" name="image"><br>
        Content:
        <textarea name="content"></textarea><br>
        Price:
        <input type="number" name="price"><br>
        Amount:
        <input type="number" name="amount"><br>
        Account:
        <input list="account_list" name="account">
        <datalist id = "account_list">
            {% for account in accounts %}
                <option value="{{ account.company }}">
            {% endfor %}
        </datalist>
        <input type="submit" value="저장">
    </form>
{% endblock %}